/*******************************************************************************
*
* Input Calculator Stylesheet
* ___________________________
* [2016] Pericror
* All Rights Reserved
* Use of this source code is governed by the license found in the LICENSE file.
*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

body {
    background-color: white;
    overflow: hidden;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial; 
    font-size: 13px;   
}
button {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial;
    font-size: 13px;    
    line-height: 1.42857;  
}

a:link,
a:visited,
a:hover,
a:active {
    color: #2699E7;
}
/* Class styles */
.operation {
    background-color: #2699E7;
    border: none;
    background-size: 30px;
    opacity: .85;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    font-weight: bold;
    white-space:pre-wrap;
}

.operator {
    width: 30px;
    height: 30px;
    margin-left: 15px;    
    margin-right: 15px;
}

.operation:hover {
    opacity: 1;
}

.add {
    background-image: url(img/add.png);
}
.subtract {
    background-image: url(img/subtract.png);
}
.multiply {
    background-image: url(img/multiply.png);
}
.divide {
    background-image: url(img/divide.png);
}
.lparen {
    background-image: url(img/lparen.png);
}
.rparen {
    background-image: url(img/rparen.png);
}
.equals {
    background-image: url(img/equals.png);
}
.delete {
    background-image: url(img/delete.png);
}
.clear {
    background-image: url(img/clear.png);
}
.send {
    background-image: url(img/send.png);
}
.clicked {
    -webkit-box-shadow: inset 1x 2px 2px 0 #34393C;
    -moz-box-shadow: inset 1px 2px 2px 0 #34393C;
    box-shadow: inset 1px 2px 2px 0 #34393C;
}

.inactive {
    background-color: grey;
}
.inactive:hover {
    opacity: .85;
}
.target {
    background-color: #3EAF04;
}
/* ID Styles */
#error
{
    display: none;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial;    
    background-color: #fb3f3f;
    color: white;
    padding: 5px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    width: 220px;
    font-size: 16px;
    text-align: center;
}
#content {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
#defaultButtons {
    width:650px;
    text-align: center;
}
#inputButtons {
    text-align: center;
}
#inputField {
    text-align: right;
    width: 600px;
    font-size: 1.5em;
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#footer
{
    display: none;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: grey;
}